body{
    margin: 0;
    background-color: rgb(255, 246, 239);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
}

header{
    color: rgb(255, 246, 239);
    width: 100%;
    height: 250px;
    margin-top: 60px;
    background-image: linear-gradient(to right, #261a6d, #ea1dc8cc);
    font-size: 13px;
    position: relative;
    overflow: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 60px;   
    background-color: black;

    display: flex;
    justify-content:center;
    align-items: center;
    
}
.containerNav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerHeader nav span{
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: space-around;
    
}

nav span img{
    width: 20px;
}

nav h1{
    font-size: 20px;
}

#ofertas{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
  
}
#ofertas a{
    text-decoration: none;
    color: #6d1a2a;

}

.icon{
    background-color: transparent;
    border: 0px;
    padding: 2px 10px;
}
.icon:hover{
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}

#links{
    display: flex;
    align-items: center;
}

#links a{
    margin-left: 30px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

#links a:hover{
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}
.menu{
    display: none;
}
.containerHeader{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* LANÇAMENTOS */

.containerMain{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.secLivros{
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    flex-direction: row;
    justify-content:space-around;
    
    overflow: auto;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.095);
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}
.titulo{
    font-size: 15px;
    margin-left: 5%;
    padding: 20px 0;
    box-sizing: border-box;
}


.livros{
    width: 200px;
    height: auto;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.095);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-right: 25px;
}

.addCarrinho{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d1a2a;
    border-radius: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.addCarrinho img{
    width: 20px;
}
.addCarrinho button,a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 0px;
}
.livros div{
    background-color: rgb(255, 246, 239);
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
    color: #6d1a2a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div h4{
    color: #000000;
    font-size: 15px;
    margin: 5px 0 0 0;
    font-weight: 500;
}

.containerInfo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.containerInfo p{
    margin: 0 3px;
}

.capa{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.livros:hover{
    border: #490F1A 1px solid;
}

.containerInfo p:first-child{
    color: #000000;
    font-weight:bold;
    font-size: 15px;
}
.containerInfo .preco{
    font-size: small;
    text-decoration: line-through;
}
.containerInfo p:last-child{
    color: #ffffff;
    background-color: #490F1A;
    border-radius: 5px;
    padding: 5px;
    font-size: small;
}



@media screen and (max-width:1024px){
    #links a{
        display: none;
    }

    .menulateral{
        display: none;
    }


    .containerMain{
        width: 100%;
        margin: 0;
    }

    .containerHeader{
        margin-left: 0;
    }

    .secLivros{
        width: 80%;
        flex-wrap: nowrap;
        overflow:auto;

        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    .livros div{
        width:160px;
        height: 90px;
        position: static;
        display: flex;
        flex-direction: column;
    }

    .livros div h4{
        font-size: 12px;
    }

    .livros div p{
        font-size: 10px;
        margin: 0;
        margin-bottom: 5px;
    }

    .livros div .containerInfo p{
        font-size: 10px;
    }

    .livros div .containerInfo p:first-child{
        font-size: 15px;
        margin-right: 5px;
    }

    .livros div .addCarrinho, .linkCompra{
        height: 30px;
        font-size: 9px;
    }

    .titulo{
        margin-left: 10%;
    }
    .addCarrinho img{
        width: 15px;
    }

    .preco + p{
        display: none;
    }
    .addCarrinho{
        display: none;
    }

}