html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body{
    margin: 0;
    background-color: rgb(255, 246, 239);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
}

header{
    color: rgb(255, 246, 239);
    width: 100%;
    height: 250px;
    margin-top: 60px;
    background-image: linear-gradient(to right, #6d1a2a, #6d1a2acc);
    font-size: 13px;
    position: relative;
    overflow: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 60px;   
    background-color: black;

    display: flex;
    justify-content:center;
    align-items: center;
    
}

.containerNav{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerHeader nav span{
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: space-around;
    
}

.containerHeader{
    width: 40%;
}

nav span img{
    width: 20px;
}

nav h1{
    font-size: 20px;
}

#banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner img{
    width: 18%;
}

.logo{
    display: flex;
}

.logo:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

#ofertas{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
  
}
#ofertas a{
    text-decoration: none;
    color: #6d1a2a;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.icon{
    background-color: transparent;
    border: 0px;
    padding: 2px 10px;
}
.icon:hover{
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}

#links{
    display: flex;
    align-items: center;

    scroll-behavior: smooth;
}

#links a{
    margin-left: 30px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

#links a:hover{
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}

/* LANÇAMENTOS */

.containerMain{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.secLivros{
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgb(255, 246, 239);
    
    overflow: auto;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.095);
    border: 1px solid rgba(0, 0, 0, 0.2);
    
}
.titulo{
    font-size: 15px;
    margin-left: 5%;
    padding: 20px 0;
    box-sizing: border-box;
}


.livros{
    display: flex;
    flex-direction: column;
    
    width: 200px;
    height: 100%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.095);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-right: 25px;

}

.addCarrinho{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d1a2a;
    border-radius: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.addCarrinho img{
    width: 20px;
}
.addCarrinho button, .addCarrinho a{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 11px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 0px;
}
.livros div{
    background-color: rgb(255, 246, 239);
    display: flex;
    flex-direction: column;
    height: 180px;
    padding: 0 15px;
    width: 100%;
    box-sizing: border-box;
    color: #6d1a2a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div h4{
    color: #000000;
    font-size: 15px;
    margin: 5px 0 0 0;
    font-weight: 500;
}

.containerInfo{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.box{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.boxInfo{
    height: 80px;
    display: block;
}

.containerInfo p{
    margin: 0 3px;
    white-space: nowrap;
}

.capa{
    display: block;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.livros:hover{
    border: #490F1A 1px solid;
}

.containerInfo p:first-child{
    color: #000000;
    font-weight:bold;
    font-size: 15px;
}
.containerInfo .preco{
    font-size: small;
    text-decoration: line-through;
}
.containerInfo p:last-child{
    color: #ffffff;
    background-color: #490F1A;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
}

.linkLivro{
    width: 100%;
    border: 0;
    margin: 0px;
}
.containerSec{
    background-color: #ffffff;
    padding-bottom: 40px;
    margin-top: 40px;
}
.maisVendidos{
    background-color: rgb(255, 246, 239);
}
.maisVendidos .livros div{
    background-color: #ffffff;
}
.lancamentos{
    background-color: #ffffff;
}

/* MENU LATERAL */

aside{
    left: 0;
    z-index: 0;
    position: fixed;
    width: 33%;
}
.menulateral ul li a{
    color: black;
    margin: 10px 5px 5px 15px;
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
    padding: 5px;
    box-sizing: border-box;
}
.menulateral ul li a:hover{
    background:linear-gradient(to right, rgba(73, 15, 26, 0.2), rgba(73, 15, 26, 0.2), rgba(73, 15, 26, 0));
}
.menulateral ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 15px 0 20px;
}
.menulateral{
    padding: 0;
    background-color: white;
    width: 20%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    justify-content: right;
    align-items: start;
    flex-direction: column;

    position: fixed;
    top: 60px;
    
    box-shadow: 2px 0 10px rgba(96, 23, 23, 0.112);
}
.containerHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menulateral h3{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
}
.menulateral span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menulateral img{
    width: 30px;
    height: auto;
    margin-left: 30px;
}
.menu{
    display: none;
}

.menu img{
    width: 20px;
    margin-right: 20px;
}


/* CONTATO */
.contato{
    background-color: rgb(255, 246, 239);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;
    justify-items: center;
    margin-bottom: 60px;

}
.secContato{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.secContato h3{
    color: #490F1A;
}

.mensagem, .infoContato{
    margin: 2% 2%;
    display: flex;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.095);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0 20px;
    
}

.mensagem{
    background-color: #ffffff;
    flex-direction: column;
    box-sizing: border-box;
    width: 45%;
}
form input, textarea{
    width: 100%;
    background-color: #FAF0F2;
    border: 1px solid #490f1a36;
    border-radius: 5px;
    margin:5px 0;
    margin-bottom: 10px;
    resize: none;

    padding: 7px;
    box-sizing: border-box;
    font-size: 10px;
    color: #6d1a2a;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

form label{
    font-size: 12px;
    color: #490F1A;
}

.infoContato{
    background-color: #ffffff;
    width: 25%;
    flex-direction: column;
}
.infoContato img{
    float: left;
    height: 14px;
    margin: 5px;
}
.infoContato h4{
    font-size: 12px;
    margin: 0;
    color: #490F1A;
}
.infoContato div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0;
}
.infoContato div span{
    display: flex;
    align-items: center;
}
.infoContato p{
    color: #6d1a2a;
    margin: 3px;
}

#enviar{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    margin: 10px 0px;
}

#enviar button{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    width: 200px;
    padding: 7px 7px;
    border: 0;
    background-color: #6d1a2a;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}
#enviar img{
    width: 14px;
    margin: 0px 10px;
}

.atendimento{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.atendimento span{
    display: flex;
    margin: 5px 0;
    
}


/* MENU HAMBURGUER */

#menuresp #logo{
    position: absolute;
    z-index: 1;
    display: flex;
    left: 20%;
}

#menuresp #logo:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

#menuresp .linkHome{
    margin-bottom: 15px;
}

#menuresp nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menumobile .menu-lines{
    display: flex;
    flex-direction: column;
    z-index: 3;

    margin: auto;
    margin-left: 30px;
}

.menumobile .menu-lines span{
    display:inline-block;
    width: 25px;
    height: 3px;
    margin: 3px 0px 3px 3px;
    background-color: #fff;
    border-radius: 3px;
    transition: all ease .2s;
}
.menumobile .menu-faketrigger{
    display: inline-block;
    position:absolute;
    z-index: 4;
    width: 30px;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    margin-left: 30px;

}

.menumobile .menu-faketrigger:checked ~ .menu-lines span{
    background-color: #6d1a2a;

}
.menumobile .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
   
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.1);

}
.menumobile .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
   
    opacity: 0;
}
.menumobile .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
   
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.1);

}
.menumobile ul{
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
   
    padding-top: 100px;
    list-style: none;
    background-color: white;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;

    width: 40%;
    margin-left: -46%;
    transition: all ease .2s;

}

.menumobile .menu-faketrigger:checked ~ ul{
    margin-left: 0;

}

.menumobile ul li{
    padding: 10px;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.303);
    width: 60%;
}
.menumobile ul li a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
    font-size: medium;
    transition: all ease .2s;
}

.menumobile ul li a:hover{
    background:linear-gradient(to right, rgba(73, 15, 26, 0.2), rgba(73, 15, 26, 0.2), rgba(73, 15, 26, 0));
}




/* --- RODAPÉ --- */

footer{
    background: #6d1a2a;
    color: white;
    padding:45px 60px 20px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col{
    min-width: 220px;
}

.footer-col h2{
    font-size: 25px;
}

.footer-col h3{
    font-size: 14px;
}

.footer-col h2, .footer-col h3{
    margin-bottom: 18px;
}

.footer-col p{
    line-height: 1.7;
    max-width: 280px;
    font-size: 12px;
}

.footer-col ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

.footer-col ul li{
    margin-bottom:14px;
}

.footer-col ul li a{
    color: white;
    text-decoration: none;
    transition: .3s;
    font-size: 12px;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 5px;
}

.social-icons{
    display: flex;
    gap: 18px;
    margin-top: 10px;
}

.social-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.social-icons img{
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.social-icons a:hover{
    transform: translateY(-4px);
}

.footer-bottom{
    border-top: 1px solid rgba(255,255,255,.15);
    margin-top: 40px;
    padding-top: 25px;
    text-align: center;
    font-size: 12px;
}


/* ---RESPONSIVIDADE--- */

@media screen and (max-width:1024px){
    #links a{
        display: none;
    }

    .menulateral{
        display: none;
    }

    .menu{
        display: inline-block;
    }

    .containerMain{
        width: 100%;
        margin: 0;
    }

    .containerHeader{
        margin-left: 0;
    }

    .secLivros{
        width: 80%;
        flex-wrap: nowrap;
        overflow:auto;

        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    .livros div{
        width:100%;
        height: 90px;
        position: static;
        display: flex;
        flex-direction: column;
    }

    .box{
        height: 10px;
    }

    .livros div h4{
        font-size: 12px;
    }

    .livros div p{
        font-size: 10px;
        margin: 0;
        margin-bottom: 5px;
    }

    .livros div .containerInfo p{
        font-size: 10px;
    }

    .livros div .containerInfo p:first-child{
        font-size: 15px;
        margin-right: 5px;
    }

    .livros div .addCarrinho,a{
        height: 30px;
        font-size: 9px;
    }

    .titulo{
        margin-left: 10%;
    }
    .addCarrinho img{
        width: 15px;
    }

    .preco + p{
        display: none;
    }
    .addCarrinho{
        display: none;
    }

    .containerMain #lanc{
    margin-top: 60px;
    }

}

@media screen and (min-width: 1025px){
    #menuresp{
        display: none;
    }
}

@media screen and (max-width:768px) {
        .secContato{
        display: flex;
        flex-direction: column;
    }
    .mensagem, .infoContato{
        width: 100%;
        margin: 10px 0 10px 0;
        box-sizing: border-box;
    }
    footer{
        padding:40px 25px 20px;
    }

    .footer-container{
        flex-direction:column;
        gap:35px;
    }

    .containerHeader{
        width: auto;
    }
}
@media screen and (min-height: 1680px) {
        .footer-container{
        height: 33em;
        box-sizing: border-box;
    }
    .footer-bottom{
        height: 10em;
        box-sizing: border-box;
        margin-bottom: 0;
    }
    .footer-bottom p{
        text-align: center;
    }
}



