body{
    margin: 0;
    background-color: rgb(255, 246, 239);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding-left: 250px;
}

header{
    color: rgb(255, 246, 239);
    width: 100%;
    height: 250px;
    margin-top: 60px;
    background-image: linear-gradient(to right, #6d1a2a, #6d1a2acc);
    font-size: 14px;
    position: relative;
    overflow: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 60px;   
    background-color: black;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.containerNav{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

nav span{
    display: flex;
    width: 150px;
    justify-content: space-around;
}

nav span img{
    width: 20px;
}

nav h1{
    font-size: 20px;
}

#ofertas{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
  
}
#ofertas a{
    text-decoration: none;
    color: #6d1a2a;

}

.icon{
    background-color: transparent;
    border: 0px;
    padding: 2px 10px;
    border-radius: 10px;
}
.icon:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* LANÇAMENTOS */

.lancamentos{
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.titulo{
    margin-left: 10%;
    padding: 20px 0;
    box-sizing: border-box;
}


.livros{
    width: 280px;
    height: 100%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.095);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.addCarrinho{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d1a2a;
    border-radius: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.addCarrinho img{
    width: 20px;
}
.addCarrinho button,a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 0px;
}
.livros div{
    background-color: rgb(255, 246, 239);
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
    color: #6d1a2a;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
div h4{
    color: #000000;
    font-size: 20px;
    margin: 5px 0 0 0;
    font-weight: 500;
}

.containerInfo{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.containerInfo p{
    margin: 0 3px;
}

.capa{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.livros:hover{
    border: #490F1A 1px solid;
}

.containerInfo p:first-child{
    color: #000000;
    font-weight:bold;
    font-size: 20px;
}
.containerInfo .preco{
    font-size: small;
    text-decoration: line-through;
}
.containerInfo p:last-child{
    color: #ffffff;
    background-color: #490F1A;
    border-radius: 5px;
    padding: 5px;
    font-size: small;
}

/* MENU LATERAL */

aside{
    right: 0;
    z-index: 0;
    position: fixed;
    width: 250px;
}
.menulateral ul li a{
    /* background-color: red; */
    color: black;
    margin: 10px 5px 5px 15px;
    font-size: 20px;
    margin-bottom: 40px;
    display: block;


}
.menulateral ul li a:hover{
    background-color: rgba(73, 15, 26, 0.2);
}
.menulateral ul{
    list-style: none;
    padding: 10px 0;
    margin: 0 15px 0 20px;
    /* border: 3px solid black; */
    /* background-color: blueviolet; */
}
.menulateral{
    margin: 10px 0 0 0;
    padding: 0;
    background-color: white;
    width: 250px;
    height: 100%;
    display: block;
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    box-shadow: 2px 0 10px rgba(96, 23, 23, 0.112);
}
.containheader{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menulateral h3{
    margin: 0 0 20px 15px;
    display: inline-block;

}
.menulateral img{
    margin: 60px 20px 0 10px;
    width: 40px;
}
.menu img{
    display: none;
}
input[type="checkbox"]{
    display:none;
}
/* Menu Lateral Responsive

@media (max-width:768px){
    body{
        padding-left: 0;
    }
    .logo{
    width: 15%;
    height: 20px;
    margin: 10px 0 0 0;

    }

    .menu img{
    display: inline-block;
    width:  40px;
   
    }
    input[type="checkbox"]{
    display: none;
}
}*/